@import url(fonts.css);
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

header .navbar-brand {
    font-family: blabeloo;
}
i {
    font-size: 1.2rem;
}

body {
    /* background: linear-gradient(180deg, #ffbb00, 50%, #181714); */
    font-family: 'Rubik', sans-serif;
    background-color: #030303;
    height: 100 !important;
}

.nav-menu {
    background: rgba(0,0,0,0.5);
    transition-duration: .7s;
}

.nav-menu-black {
    background: rgba(0,0,0,1);
}

div > ul > li > a {
    color: whitesmoke !important;
    font: normal 500 21px Iranian;
}

.container-fluid1 {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

.slide-products {
    margin: 200px auto 150px ;
}

.product {
    border-bottom: 2px solid rgba(231, 172, 10, 0.3);
}
.product a {
    display: inline-block;
    margin-bottom: -2px;
    border-bottom: 2px solid gold;
    border-bottom-width: 2px;
}

.slide-products h3 a {
    font-family: iranian;
    font-size: 1.6rem;
}


small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}